@import "./base/_reset.scss";

@import "./base/**";

section{
  background: url("https://source.unsplash.com/cTO6DWSIdWI");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   /* u use background position to have the image full content and not cut off 
   remove background position to see the difference*/
   height: 100vh;
}

.header-group{
  background: rgba(255,255,255,0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 550px;
  padding: 20px 50px;
  border: 4px solid #fff;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-align: center;
  -moz-box-shadow: inset 0px 0px 2px 0px #2c3e50;
  -webkit-box-shadow: inset 0px 0px 2px 0px #2c3e50;
  -o-box-shadow: inset 0px 0px 2px 0px #2c3e50;
  box-shadow: inset 0px 0px 2px 0px #2c3e50;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#2c3e50, Direction=NaN, Strength=2);
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  


@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

  .header-title{
    color: #fff;
    font-size: 6.5em;
    text-shadow: 5px 2px #2d2d2d;
  }

  span{
    color: #eaeaea;
    font-size:2.8em;
    text-shadow: 0px 2px 5px #2d2d2d;
    }
}

