html {
    font-size: 62.5%;
}

html, body {
   width: 100%;
   height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* Fontsの変数 */
$main-font: 'PT Sans', sans-serif;
$font: 'Ubuntu', sans-serif;
$font-size-1: 1.2em;
$font-size-2: 1.8em;
$font-size-3: 2em;
$font-size-4: 2.5em;
/* Colors */
$bg-color-1: #2d2d2d;
$bg-color-2 : #f9f9f9;
$bg-gradient-1: #000111;
$bg-gradient-2: #380047;
$bg-gradient-3: #1f0029;
$text-color-1: #fff;
$text-color-2: #c2c2c2;
$text-color-3: #4d4d4d;
$text-color-4: #2d2d2d;
//ここまでが変数のベース

//全体の基本設定
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
  font-family: $main-font;
}

section{
  width: 100%;
  padding: 30px;
  position: relative;
  
  h2{
    font-size: $font-size-2;
    text-align: center;
  }
}
//ここまでが全体の基本設定


//ここからがyokoの担当　様々なリンクのarea
.portfolio{
    background: $bg-gradient-3;
    padding: 70px 10px;
    
    h2 {
        color: $text-color-1;
        font-size: $font-size-3;
        margin: 0 auto;

    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: auto;
        margin-top: 50px;
        align-items: center;

        .project{
            position: relative;
            display: block;            
            width: 30%;
            margin-left: 1.5%;
            margin-right: 1.5%;
            margin-bottom: 3%;

            img {
                width:100%;
                height: 80%;
            }

            &:hover .project-overlay{
                opacity: 1;
            }
            
            &:hover .project-details{
                opacity: 1;
                top: 50%;
            }
            
            .project-overlay{
                background: $bg-gradient-1;
                position: absolute;
                height: 99%;
                width: 100%;
                left: 0;
                top: 0;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            
            .project-details{
                line-height: normal;
                opacity: 0;
                padding-left: 1em;
                padding-right: 1em;
                position: absolute;
                text-align: center;
                top: 55%;
                transform: translateY(-50%);
                width: 100%;
                transition: all 0.4s ease-out 0s;

                & p {
                    color: $text-color-1;
                }
            }
        }
    }

}

.contact {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: $bg-gradient-1;
    height: 20vh;
    bottom: 0;

    .socials{
        list-style: none;
        width: 400px;
        margin: auto;

        .social{
            width: 100px;
            padding: 20px;
            float: left;
            text-align: center;

            a{
                color: $text-color-3;
                font-size: 1.5em;
                transition: color .4s ease;

                &:hover{
                   color:$text-color-1;
                }
                i {
                   color: #d1d4d9;
                   margin: 0 1rem 0 0;
                }
            }
        }
    }

}

.scrollTop {
    display: none;
    padding: 0 10px;
    position: fixed;
    left: 20px;
    bottom:20px;
    border-radius: 50%;

    .fa-angle-double-up{
        cursor: pointer;
        color: #d1d4d9;        
    }
    &:hover {
        background: $text-color-3;
        transition: 0.5s;

    }

}