
// ここからがやっさんの担当エリア 
//課題、ネスト、&、import、 パーシャル、 mixinを使用

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.about-myself{
    background: $bg-gradient-1;
    border-top: 5px solid $bg-gradient-1;
    text-align: center;
    padding: 50px 0;
    
    .img-profile{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      border: 5px solid $bg-gradient-1;
    }
    
    h2{
      color: $text-color-2;
      margin-top: 80px;
      font-size: $font-size-3;
      margin-bottom: 20px;
      text-align: center;
      display: inline-block;
    }
    
    .presentation{
      color: #848484;
      max-width: 1000px;
      margin: auto;
      padding: 10px 20px;
      font-size: $font-size-1;
      text-align: center;
      line-height: 30px;
    }
  }
  
  .services{
    padding: 80px 0;

    h2{
      color: $text-color-4;
      font-size: $font-size-3;
      margin-bottom: 50px;
    }
    
    .services-container{
      display: flex;
      width: 100%;
      max-width: 1000px;
      margin: auto;
      
      .service{
        position: relative;
        width: 30%;
        margin-left: 1.6666%;
        margin-right: 1.6666%;
        padding: 20px;
        opacity: 0;
       
        .logo{
          background: $bg-gradient-1;
          background: -moz-linear-gradient(-45deg, $bg-gradient-1 0%, $bg-gradient-2 100%);
          background: -webkit-linear-gradient(-45deg, $bg-gradient-1 0%,$bg-gradient-2 100%);
          background: linear-gradient(135deg, $bg-gradient-1 0%,$bg-gradient-2 100%);
          line-height: 120px;
          height: 120px;
          width: 120px;
          margin: auto;
          margin-bottom: 40px;
          text-align: center;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          font-size: $font-size-2;
          //swip
          perspective: 300px;
          transform-style: preserve-2d;

         
          &:hover{
            cursor: pointer;
            i{
                transition: all 1s ease;
                transform: translateZ(-200px);
                
            }

            div{
                transition: all 2.2s ease 0.3s;
                height: 200px;
                width: 200px;
                transform: rotate(-45deg);
                position: relative;
                right: 50px;
                top:-160px;
                border: solid 2px $bg-gradient-2;

            }
          }
          

           .uramen1{
            //swift
            width: 100%;
            box-sizing: border-box;
            transform: rotateX(90deg);
            transition: all 0.8s ease 0.05s;
            transform-origin: 50% 50% -25px;
            background-size: cover;
            background-image: url(/assets/img/300360池さんバギーに乗る.jpg);
           }
           .uramen2{
            //swift
            width: 100%;
            box-sizing: border-box;
            transform: rotateX(90deg);
            transition: all 0.8s ease 0.05s;
            transform-origin: 50% 50% -25px;
            background-size: cover;
            background-image: url(/assets/img/300360池さんラクダに乗る.jpg);
           }
           .uramen3{
            //swift
            width: 100%;
            box-sizing: border-box;
            transform: rotateX(90deg);
            transition: all 0.8s ease 0.05s;
            transform-origin: 50% 50% -25px;
            background-size: cover;
            background-image: url(/assets/img/300360池さん会社員姿.jpg);
           }
            
            

          i{
            //swift
            width: 100%;
            box-sizing: border-box;
            transform: translateZ(0px);
            transition: all 0.2s ease;
            transform-origin: 50% 50% -25px;
            
            color: $text-color-1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }

        h3{
          font-size: $font-size-1;
          text-align: center;
          margin-bottom: 1em;
        }
        
        p{
          color: $text-color-3;
          text-align: justify;
        }
      }
    }
  }

  //ここまでがやっさんのエリア
  
  .picture {
    width: 200px;
    cursor: pointer;
  }
  
  #over {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
  }
  
  .img-box {
    position: relative;
    margin-top: 100px;
    display:inline-block;
  }
  
  .close {
    position:absolute;
    right:20px;
    top:10px;
    font-size:2em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
  }
  
  .lightbox {
    width: 500px;
  }
  //ここまでがやっさんのエリア
  
  






//ここからがyokoのエリア
.portfolio{
    background: $bg-gradient-3;
    background: -moz-linear-gradient(top, $bg-gradient-3 0%, $bg-gradient-1 100%);
    background: -webkit-linear-gradient(top, $bg-gradient-3 0%,$bg-gradient-1 100%);
    background: linear-gradient(to bottom, $bg-gradient-3 0%,$bg-gradient-1 100%);
    padding: 70px 10px;
    
    h2{
      color: $text-color-1;
      font-size: $font-size-3;
      margin-bottom: 50px;
    }
    
    .projects{
      display: block;
      width: 100%;
      max-width: 1000px;
      margin: auto;
      
      .project{
        position: relative;
        display: block;
        float: left;
        width: 30%;
        margin-left: 1.6666%;
        margin-right: 1.6666%;
        margin-bottom: 3%;
        
        img{
          width: 100%;
        }
        
        &:hover .project-overlay{
          opacity: 1;
        }
        
        &:hover .project-details{
          opacity: 1;
          top: 50%;
        }
        
        .project-overlay{
          background: rgba(0,0,0,0.7);
          position: absolute;
          height: 99%;
          width: 100%;
          left: 0;
          top: 0;
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        
        .project-details{
            line-height: normal;
            opacity: 0;
            padding-left: 1em;
            padding-right: 1em;
            position: absolute;
            text-align: center;
            top: 55%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
            -webkit-transition: all 0.4s ease-out 0s;
            -moz-transition: all 0.4s ease-out 0s;
            transition: all 0.4s ease-out 0s;
          
          & p{
            color: $text-color-1;
          }
        }
      }
    }
  }
  
  .contact{
    padding: 20px 0;
    background: $bg-gradient-1;
    
    .socials{
      list-style: none;
      width: 400px;
      margin: auto;
      
      .social{
        width: 100px;
        padding: 20px;
        float: left;
        text-align: center;
        
        a{
          color: $text-color-3;
          font-size: 1.5em;
          transition: color .4s ease;
          
          &:hover{
            color: $text-color-1;
          }
        }
      }
    }
  }
  //ここまでがyokoの担当エリア
  
  .clear{
    clear: both;
  }
  