
// ここからがやっさんの担当エリア 
//課題、ネスト、&、import、 パーシャル、 mixinを使用

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$font: 'Ubuntu', sans-serif;
$font-size-1: 1.2em;
$font-size-2: 1.8em;
$font-size-3: 2em;
$font-size-4: 2.5em;

$bg-color-1: #2d2d2d;
$bg-color-2 : #f9f9f9;

$bg-gradient-1: #000111;
$bg-gradient-2: #380047;
$bg-gradient-3: #1f0029;

$text-color-1: #fff;
$text-color-2: #c2c2c2;
$text-color-3: #4d4d4d;
$text-color-4: #2d2d2d;

@mixin uramen() {
  width: 100%;
  box-sizing: border-box;
  transform: rotateX(90deg);
  transition: all 0.8s ease 0.05s;
  transform-origin: 50% 50% -25px;
  background-size: cover;
}


.about-myself{
    background: $bg-gradient-1;
    border-top: 5px solid $bg-gradient-1;
    text-align: center;
    padding: 50px 0;
    
    .img-profile{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      border: 5px solid $bg-gradient-1;
      cursor:pointer;
    }
    
    h2{
      color: $text-color-2;
      margin-top: 80px;
      font-size: $font-size-3;
      margin-bottom: 20px;
      text-align: center;
      display: inline-block;
    }
    
    .presentation{
      color: #848484;
      max-width: 1000px;
      margin: auto;
      padding: 10px 20px;
      font-size: $font-size-1;
      text-align: center;
      line-height: 30px;
    }
  }
  
  .services{
    padding: 80px 0;

    h2{
      color: $text-color-4;
      font-size: $font-size-3;
      margin-bottom: 50px;
    }
    
    .services-container{
      display: flex;
      width: 100%;
      max-width: 1000px;
      margin: auto;
      
      .service{
        position: relative;
        width: 30%;
        margin-left: 1.6666%;
        margin-right: 1.6666%;
        padding: 20px;
        opacity: 0;
       
        .logo{
          background: $bg-gradient-1;
          background: -moz-linear-gradient(-45deg, $bg-gradient-1 0%, $bg-gradient-2 100%);
          background: -webkit-linear-gradient(-45deg, $bg-gradient-1 0%,$bg-gradient-2 100%);
          background: linear-gradient(135deg, $bg-gradient-1 0%,$bg-gradient-2 100%);
          line-height: 120px;
          height: 120px;
          width: 120px;
          margin: auto;
          margin-bottom: 40px;
          text-align: center;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          font-size: $font-size-2;
          //swip
          perspective: 300px;
          transform-style: preserve-2d;

         
          &:hover{
            cursor: pointer;
            i{
                transition: all 1s ease;
                transform: translateZ(-200px);
                
            }

            div{
                transition: all 2.2s ease 0.3s;
                height: 200px;
                width: 200px;
                transform: rotate(-45deg);
                position: relative;
                right: 50px;
                top:-160px;
                border: solid 2px $bg-gradient-2;

            }
          }
          

           .uramen1{
            //swift
            @include uramen();
            background-image: url(/assets/img/300360池さんバギーに乗る.jpg);
           }
           .uramen2{
            //swift
            @include uramen();
            background-image: url(/assets/img/300360池さんラクダに乗る.jpg);
           }
           .uramen3{
            //swift
            @include uramen();
            background-image: url(/assets/img/300360池さん会社員姿.jpg);
           }
            
            

          i{
            //swift
            width: 100%;
            box-sizing: border-box;
            transform: translateZ(0px);
            transition: all 0.2s ease;
            transform-origin: 65% 65% -25px;
            
            color: $text-color-1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }

        h3{
          font-size: $font-size-1;
          text-align: center;
          margin-bottom: 1em;
        }
        
        p{
          color: $text-color-3;
          text-align: justify;
        }
      }
    }
  }

  //ここまでがやっさんのエリア
  
  .picture {
    width: 200px;
    cursor: pointer;
  }
  
  #over {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
  }

  
  .img-box {
    position: relative;
    margin-top: 100px;
    display:inline-block;
    background-image: url(/assets/img/池さんモデル風.jpg);
    height: 600px;
  }
  
  .close {
    position:absolute;
    right:20px;
    top:10px;
    font-size:2em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
  }
  
  .lightbox {
    width: 500px;
  }
  //ここまでがやっさんのエリア
  
  
  .clear{
    clear: both;
  }
  